#header-h1 {
    text-align: center;
};

#city-input {
    text-align: center;
    float: right;
    padding: 25%;
}

#city-button {
    text-align: center;
    float: right;
}

#search-container {
    margin: 10px;
}

.daily {
    background-color: dodgerblue;
}

ul {
    list-style-type: none;
}